video{
    width: 1000px;
    height: 600px;
    
}
.matn {
display: inline;

 }
.matn2 {
    text-align: center;
    
}
h1 {
    color: aqua;

}
span {
    color: gray;
}
p {
    color: rgb(151, 151, 151);
    margin-left: 100px;
}
.i{
    margin-top: 80px;
    text-align: center;
    
    
}
i{
    border: 2px solid;
    padding: 20px;
    font-size: 30px;
    margin-left: 8px;
    margin-right: 8px;
    border-color: rgb(216, 211, 211);
    text-align: center;
    color: rgb(75, 123, 228);
}